header {
  border-bottom: 1px solid black;
  text-align: center;
  font-family: Helvetica;
}

main {
  width: 800px;
  height: 600px;
  position: relative;
  margin: auto;
}

section {
  width: 800px;
}

aside {
  width: 180px;
  border: 2px solid black;
  text-align: center;
  position: fixed;
  right: 550px;
  margin-bottom: 20px;
}

footer {
  background-color: black;
  color: white;
  padding: 20px;
  position: fixed;
  width: 100vw;
  bottom: 0px;
}

button {
  background-color: black;
  color: white;
  font-family: serif;
  cursor: pointer;
}

button:hover {
  background-color: black;
}

.black:active {
  background-color: black;
  color: white;
}